@import "compass/css3";

body {
    background: black;
    font-family: 'PT Mono', monospace;
}

.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@keyframes noise-anim {
    0% {
        clip: rect(63px, 9999px, 75px, 0);
    }

    5% {
        clip: rect(78px, 9999px, 3px, 0);
    }

    10% {
        clip: rect(41px, 9999px, 62px, 0);
    }

    15% {
        clip: rect(92px, 9999px, 8px, 0);
    }

    20% {
        clip: rect(22px, 9999px, 28px, 0);
    }

    25% {
        clip: rect(71px, 9999px, 41px, 0);
    }

    30% {
        clip: rect(36px, 9999px, 84px, 0);
    }

    35% {
        clip: rect(31px, 9999px, 16px, 0);
    }

    40% {
        clip: rect(57px, 9999px, 29px, 0);
    }

    45% {
        clip: rect(62px, 9999px, 71px, 0);
    }

    50% {
        clip: rect(77px, 9999px, 37px, 0);
    }

    55% {
        clip: rect(96px, 9999px, 62px, 0);
    }

    60% {
        clip: rect(65px, 9999px, 35px, 0);
    }

    65% {
        clip: rect(84px, 9999px, 46px, 0);
    }

    70% {
        clip: rect(29px, 9999px, 59px, 0);
    }

    75% {
        clip: rect(38px, 9999px, 47px, 0);
    }

    80% {
        clip: rect(58px, 9999px, 25px, 0);
    }

    85% {
        clip: rect(58px, 9999px, 42px, 0);
    }

    90% {
        clip: rect(44px, 9999px, 93px, 0);
    }

    95% {
        clip: rect(73px, 9999px, 51px, 0);
    }

    100% {
        clip: rect(26px, 9999px, 55px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(95px, 9999px, 32px, 0);
    }

    5% {
        clip: rect(20px, 9999px, 20px, 0);
    }

    10% {
        clip: rect(25px, 9999px, 2px, 0);
    }

    15% {
        clip: rect(9px, 9999px, 85px, 0);
    }

    20% {
        clip: rect(10px, 9999px, 46px, 0);
    }

    25% {
        clip: rect(31px, 9999px, 17px, 0);
    }

    30% {
        clip: rect(35px, 9999px, 56px, 0);
    }

    35% {
        clip: rect(13px, 9999px, 80px, 0);
    }

    40% {
        clip: rect(45px, 9999px, 99px, 0);
    }

    45% {
        clip: rect(46px, 9999px, 32px, 0);
    }

    50% {
        clip: rect(17px, 9999px, 92px, 0);
    }

    55% {
        clip: rect(94px, 9999px, 61px, 0);
    }

    60% {
        clip: rect(72px, 9999px, 45px, 0);
    }

    65% {
        clip: rect(81px, 9999px, 95px, 0);
    }

    70% {
        clip: rect(45px, 9999px, 73px, 0);
    }

    75% {
        clip: rect(48px, 9999px, 37px, 0);
    }

    80% {
        clip: rect(20px, 9999px, 12px, 0);
    }

    85% {
        clip: rect(72px, 9999px, 9px, 0);
    }

    90% {
        clip: rect(31px, 9999px, 89px, 0);
    }

    95% {
        clip: rect(6px, 9999px, 31px, 0);
    }

    100% {
        clip: rect(85px, 9999px, 62px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

